<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--</beans>-->
<Configuration>
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="DemoApplicationLogFile" filename="logs/demoApp.log">
        <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n">
        </PatternLayout>
    </Console>
</Appenders>
<Loggers>
    <Logger name="com.example" level="INFO"/>
    <Root level="error">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="DemoApplicationLogFile"/>
    </Root>
</Loggers>
</Configuration>